@model IEnumerable<New_Stock_Management.Models.Stock_Return_Master>

@{
    ViewData["Title"] = "Index";
}

<h1>Stock Return Master</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_Edate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock_Edate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Stock_return_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Stock_return_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Stock_return_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
